.containerNavbarA {
    height: 14vh;
    background: none;
}

.containerNavbar {
    height: 12vh;
    background: none;
}

.navbar {
    /* background: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.toHomeNav {
    height: 100%;
    display: flex;
align-items: center;
}

#pokepedia {
    margin-top: 2vh;
    margin-right: 1vw;
    width: auto;
    height: 11vh;
}
